/* font style */
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

html{scroll-behavior: smooth;}

/* default style */
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

body{
    height: 90vh;
    background-image: linear-gradient(#111, #222);
    background-size: cover;
    background-repeat: no-repeat;
}

/* icon buttons */
audio{display: none;}
.icon-btn{
    height: 5vh;
    width: 5vh;
    position: fixed;
    top: 5vw;
    background-color: transparent;
    border: 1px solid #CDCDCD;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}
#index{
    left: 5vw;
    background-image: url("../Images/home.png");
    background-size: 80%;
}
#bgm-btn{
    right: 5vw;
    background-image: url("../Images/play.png");
    background-size: 60%;
}

/* home section */
#character-selection{
    width: 80vw;
    height: 85vh;
    margin: 10vh auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.char-selection-title{
    font-family: "Fondamento";
    font-size: 1.75rem;
}

#char-list{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.char-item{
    width: 20vw;
    height: 20vw;
    margin: 3%;
    background-color: #FFF;
    border-radius: 12px;
    cursor: pointer;
}
.char-img{
    width: 100%;
    height: 100%;
}

.round-btn{
    padding: 1vh 7vw;
    background-color: #FFF;
    color: #111;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Fondamento";
    border-radius: 20px;
    cursor: pointer;
}