html{scroll-behavior: smooth;}

/* default style */
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

body{
    height: 100vh;
    background-image: linear-gradient(#111, #222);
    background-size: cover;
    background-repeat: no-repeat;
}

audio{display: none;}
#bgm-btn{
    height: 5vh;
    width: 5vh;
    position: fixed;
    top: 5vw;
    right: 5vw;
    background-color: #FFF;
    background-image: url("../Images/play.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}